<div class="container">
  <h1>Poll for <%=@ballot.poll.group.name%></h1>
  <h3>Resident Member Ballot</h3>
  <strong>Member Number: <%=@ballot.member_number%></strong><br/>
  <strong>SCA Name: <%=@ballot.sca_name%></strong><br/>
  <strong>Modern Name: <%=@ballot.modern_name%></strong><br/>
  <strong>Zipcode: <%=@ballot.zipcode%></strong><br/>
  <%= bootstrap_form_with url: ballots_path do |f| %>
    <% i = 0 %>
    <% @ballot.tickets.each do |ticket| %>
			<div class="d-flex flex-row">
				<div class='p-3'>
          <%= image_tag ticket.portrait.variant(resize: "x100") %><br>
          <%= link_to "Letter of Intent", ticket_path(ticket.id), target: :_blank %>
				</div>
			  <div class='p-6'>
          <% ticket.candidates.each do |candidate| %>
            <%= f.hidden_field "scores_attributes[#{i}][candidate_id]", value: candidate.id %> 
            <% score_group_tag = "scores_attributes[#{i}][value]" %>
            <%= f.form_group score_group_tag, label: { text: candidate.sca_name } do %>
              <%= f.radio_button score_group_tag, 1, label: 1, inline: true %>
              <%= f.radio_button score_group_tag, 2, label: 2, inline: true %>
              <%= f.radio_button score_group_tag, 3, label: 3, inline: true %>
              <%= f.radio_button score_group_tag, 4, label: 4, inline: true %>
              <%= f.radio_button score_group_tag, 5, label: 5, inline: true %>
              <%= f.radio_button score_group_tag, 0, label: 'Abstain', inline: true %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
				</div>
			</div>
    <% end %>
    <%= f.text_area :comment %>
    <%= f.submit "Submit Poll Response" %>
  <% end %>
</div>
