<h1>Poll for <%=@poll.group.name%></h1>
Poll closes: <%= @poll.end_date.strftime('%A, %b %d, %Y @ %l:%M %p') %>
<div class="container">
  <div class="row">
  <% @poll.tickets.each do |ticket| %>
    <div class="col text-center">
     <h3><%=ticket.candidates.pluck(:sca_name).to_sentence %></h3> 
     <%= image_tag ticket.portrait.variant(resize: "x300") %><br>
     <%= link_to "Letter of Intent", ticket_path(ticket.id) %>
    </div>
  <% end %>
  </div>
  <div class="row justify-content-md-center">
  <div class=col-md-4>
  To fill out poll
  <%= bootstrap_form_with url: build_ballot_path do |f| %>
    <%= f.text_field :member_number %>
    <%= f.hidden_field :poll_id, :value => @poll.id %>
    <%= f.submit "Get Ballot" %>
  <% end %>
  <%=link_to "Click for Non-Resident/Non-Member Poll", '#' %>
  </div>
</div>
