<!DOCTYPE html>
<html>
  <head>
    <title>MkGroupTransitions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column flash">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>"><%= value %></div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
